.bounding-box {
  position: absolute;
  /* box-shadow: 0 0 0 3px #ffff00 inset; */
  background:radial-gradient(circle at 40% 40%, #fddf18 50%, #fbb03b, orange 95%);
  box-shadow: rgba(211, 165, 110, .4) 0 30px 30px 1px;

  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;

}

.smile {
  position: absolute;
  bottom: 15%;
  display: flex;
  border:  rgba(0, 0, 0, 0.877) solid 3px;
  box-shadow:  rgba(211, 165, 110, .4) 0 1px 30px;



  width: 65%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;

  background: #fff;

}

.smile::after{
  content: "";
  border:solid 1.5px;
  border-color: transparent transparent #000;
  height: 37%;
  width: 100%;
  position: absolute;
  top: 6%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 132px;
  box-sizing: border-box;
}


.eye-1{
  position: absolute;
  display: flex;
  border:solid 2px;
  border-color: #000 transparent transparent transparent;
  
  width: 33%;
  height: 16%;
  top: 23%;
  right: 13%;

  transform: rotate(10deg);

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
}

.eye-2{
  position: absolute;
  display: flex;

  border:solid 2px;
  border-color: #000 transparent transparent transparent;

  width: 33%;
  height: 16%;
  top: 23%;
  left: 13%;
  transform: rotate(-10deg);

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;

}


