body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, 	#e20d0d 0%, #f0d817 50%, #3eb308	100%); /* w3c */
}

button {
  cursor: pointer;
}
